[dir="rtl"] {
    .msc-search-bar {
        &__search-options {
            border-radius: 0 4px 4px 0;
        }

        &__search-text {
            border-radius: 4px 0 0 4px;

            &.full-width {
                border-radius: 4px;
            }
        }

        &__search-button {
            margin-left: 0;
            margin-right: 10px;
        }
    }
}
